<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    body {
      background-color: #f4f4f4;
    }
    .container {
      max-width: 560px;
      margin-top: 50px;
    }
    h2 {
      color: #4CAF50;
    }
    label {
      font-weight: bold;
      color: #333;
    }
    .form-control {
      border-radius: 0;
      border-color: #ddd;
    }
    .btn-secondary {
      background-color: #ccc;
      border-color: #ccc;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>도서 상세</h2>
  </div>
  <!-- 추가 -->
  <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
  <div class="form-group">
    <label for="id">도서 ID</label>
    <input type="text" id="id" name="id" class="form-control" value="1" th:value="${book.id}" readonly>
  </div>
  <div class="form-group">
    <label for="title">도서명</label>
    <input type="text" id="title" name="title" class="form-control" value="도서A" th:value="${book.title}" readonly>
  </div>
  <div class="form-group">
    <label for="author">저자</label>
    <input type="text" id="author" name="author" class="form-control" value="10000" th:value="${book.author}" readonly>
  </div>
  <div class="form-group">
    <label for="quantity">수량</label>
    <input type="text" id="quantity" name="quantity" class="form-control" value="10" th:value="${book.quantity}" readonly>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='books.html'" th:onclick="|location.href='@{/books}'|" type="button">목록으로</button>
    </div>
  </div>
</div>
<!-- /container -->
</body>
</html>